<!-- Sidebar con altura fija y scroll interno -->
<div class="h-screen flex flex-col bg-primary-100 dark:bg-neutral-800 overflow-hidden">
  
  <!-- Header fijo del sidebar -->
  <header class="flex-shrink-0 py-8 px-2 border-b min-h-[80px] border-gray-200 dark:border-neutral-700 bg-primary-500">
    <div class="flex justify-between items-center gap-x-2">
      <a class="flex-none font-semibold text-xl text-white focus:outline-hidden focus:opacity-80" 
         href="#" aria-label="Brand">
        <span class="text-warning-300">LOGO Grupo </span><span class="text-white">Corporativo</span>
      </a>
      
      <!-- Close Button (móvil) -->
      <div class="lg:hidden -me-2">
        <button type="button" (click)="onCloseSidebar()"
                class="flex justify-center items-center gap-x-3 size-8 bg-white/10 hover:bg-white/20 text-white rounded-full disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-white/20 transition-colors duration-200">
          <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
               stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M18 6 6 18" />
            <path d="m6 6 12 12" />
          </svg>
          <span class="sr-only">Close</span>
        </button>
      </div>
    </div>
  </header>

  
  <!-- Header fijo del usuario -->
    <app-side-menu-header></app-side-menu-header>

  <!-- Contenido del sidebar con scroll -->
  <div class="flex-1 overflow-y-auto">
    
    <!-- Navigation Menu -->
    <nav class="p-4 space-y-1 ">
      <app-side-menu-list></app-side-menu-list>
    </nav>
  </div>


</div>